
<ul >
  <li class="card" >
    <div class="card__div-image">
      <img [src]="topic.imgUrl" alt="" class="card__img">
    </div>
    <h2 class="card__title">{{ cardIndex + '. ' + topic.title}}</h2>
    <p class="card__content"  >
      {{ topic.description.slice(0, 35).concat(' ') }}
      <span>...</span>
    </p>
    <div class="card__footer">
      <div class="level">
        <span>{{ topic.level }}</span>
      </div>
      <div class="card__footer__price"></div>
      <button (click)="getStarted()" class="btn">Get Started...</button>
    </div>

  </li>
</ul>
