
<div class="container">

  <!-- <div class="cards">
    <span>
      <app-card class="card"> </app-card>
    </span>
    <span>
      <app-card class="card"> </app-card>
    </span>
    <span>
      <app-card class="card"> </app-card>
    </span>


  </div> -->

  <ul class="cards" >
    <li class="card">
      <app-card [subject]="firstCard"></app-card>
    </li>
    <li class="card">
      <app-card [subject]="subTwo"></app-card>
    </li>
    <li class="card">
      <app-card  [subject]="subThree"></app-card>
    </li>
    <li class="card">
      <app-card [subject]="subFour"></app-card>
    </li>
    <li class="card">
      <app-card  [subject]="subFive"></app-card>
    </li>
    <li class="card">
      <app-card [subject]="subSix"></app-card>
    </li>
    <li class="card">
      <app-card [subject]="subSeven"></app-card>
    </li>
    <li class="card">
      <app-card [subject]="lastCard"></app-card>
    </li>
  </ul>


</div>
