
<div class="container">

  <!-- <div class="cards">
    <span>
      <app-card class="card"> </app-card>
    </span>
    <span>
      <app-card class="card"> </app-card>
    </span>
    <span>
      <app-card class="card"> </app-card>
    </span>


  </div> -->

  <ul class="cards">
    <li  *ngFor="let card of topics;index as i"
      class="card">
      <app-card (topicSelect)="onTopicSelect($event)"
      [topic]="card"
      [cardIndex]="i + 1"
      >
      </app-card>
    </li>
    <!-- <li class="card">
      <app-card (topicSelect)="onTopicSelect($event)" [subject]="subTwo"></app-card>
    </li>
    <li class="card">
      <app-card  (topicSelect)="onTopicSelect($event)" [subject]="subThree"></app-card>
    </li>
    <li class="card">
      <app-card (topicSelect)="onTopicSelect($event)" [subject]="subFour"></app-card>
    </li>
    <li class="card">
      <app-card  (topicSelect)="onTopicSelect($event)" [subject]="subFive"></app-card>
    </li>
    <li class="card">
      <app-card (topicSelect)="onTopicSelect($event)" [subject]="subSix"></app-card>
    </li>
    <li class="card">
      <app-card (topicSelect)="onTopicSelect($event)" [subject]="subSeven"></app-card>
    </li>
    <li class="card">
      <app-card (topicSelect)="onTopicSelect($event)" [subject]="lastCard"></app-card>
    </li> -->
  </ul>


</div>
