<h1 class="title"><span>RXJS</span> Deep Dive</h1>

<div class="wrapper">

  <div class="section">
    <h3 class="sub-title">What is<span class="rxjs"> RXjs</span></h3>
    <p class="intro">
      <span class="rxjs">RXjs</span> stands for <span class="rxjs"> Reactive Extensions</span> for JavsScript.
    </p>
  </div>

<div class="section">
  <h3>What is reactive programming?</h3>

  <ul >
    <li class="reactive">
      <p> Programming paradigm that works with <br />
         <strong >asynchronous data steams</strong></p>
    </li>
    <li class="reactive">
      <span class="reactive">hello</span>

    </li>
  </ul>
</div>

  <div class="section observables">
    <h3 class="sub-title observable">Observables</h3>
    <ul>
      <li>
        <span> Observables </span> are used to watch these streams and
        emit functions when a value, error or completed signal is returned.
      </li>
      <li>
        <span> Observables </span>
         can be subscribed to by an observer.
      </li>
      <li>
        <span> Observables </span>  will consantly watch streams and
      </li>
      <li></li>
      <li></li>
    </ul>
  </div>
</div>
